
.cart{
    width: 100%;
    height: 500%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cartMain{
    background-color: red;
    width: 250px;
}

.cartMain img {
    width: 250px;
}

.flex{
    display: flex;
    gap: 3px;
}

.info{
    display: flex;
    justify-content: space-between;
}